.cart-dropdown-container {
  position: absolute;
  width: 270px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;
 scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;

  ::-webkit-scrollbar {
      background: white;
      width: 10px;
  }
  ::-webkit-scrollbar-track{
      /* background: green; */
      /* color: black; */
  }
  ::-webkit-scrollbar-thumb{
      background: black;
      border-radius: 7px;
  }
  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  button {
    margin-top: auto;
  }
}
